.title-center {
    flex: 1 1 auto;
    text-align: center;
  }

  mat-form-field{
      padding: 5px;
      background-color: wheat;
  }


  mat-toolbar,mat-dialog-content{
    background-color: wheat;
  }
  