.float-right{
    float: right !important;
}

mat-card{
    padding: 20px;
    background-color: wheat;
    
}

table {
    width: 100%;
    background-color: wheat;
    
  }
  th,td,mat-chip-option{
    color: black;
  }

  mat-label{
    color:black;
  }